<div id="logout"> <%= link_to "Logout" , root_url %> </div>

<%= link_to "Home" , administrator_path %></br>

<p>Edit Student Marks </p>

<%= form_for @academic, :url => { :action => "update" } do |f| %>
	   
     

 	<p>
      <%= f.label :term %> </br>
      <%= f.select :term, ['Quarterly', 'Half yearly' ,'Annualy'] %>
   </p>

   <p>
    <%= f.label :sub1 %> </br>
    <%= f.select :sub1, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub2 %> </br>
    <%= f.select :sub2, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub3 %> </br>
    <%= f.select :sub3, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub4 %> </br>
    <%= f.select :sub4, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub5 %> </br>
    <%= f.select :sub5, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :total %> </br>
    <%= f.text_field :total , :size => '1' %>
   </p>

  <p>
    <%= f.label :rank %> </br>
    <%= f.text_field :rank , :size => '1' %>
   </p>
  
  <p>
     <%= f.submit "Update"  %>
  </p>

 
   
 <% end %>