<div id="logout" > <%= link_to "Home" , administrator_path %>>><%= link_to "Logout" , root_url %> </div>

<div id="academic_index">


<p><h2>Students Academic details </h2></p>

<%= flash[:notice] %>
        

<p>
	<%= form_tag(academics_path, :method => "get") do %>
    <%= select_tag(:class ,options_for_select([[1, 1], [2, 2]],@class),
          :onchange => 'this.form.submit()') %>
	   <%= select_tag(:terms ,options_for_select([['Quarterly', 1], ['Half yearly', 2], ['Annualy', 3]],@term ),
					:onchange => 'this.form.submit()') %>
  
	<% end %>
</p>

<div id="academics"> <%= render 'academics' %></div>

<p>
	<%= will_paginate (@academics)  %>
</p>

</div>

<!--
<script type="text/javascript">
$(document).ready(function() {
    $('.pagination a').attr('data-remote', 'true');
});</script> -->