<div id="logout" > <%= link_to "Home" , administrator_path %>>><%= link_to "Logout" , root_url %> </div>

<div id="academic_new">



<div id="notice"><h3><%= flash[:notice]%></h3></div>

<div id="error"><h3><%= flash[:error]%></h3></div>


<p><b>Student Academic Form</b></p>




  <%= form_tag(new_academic_path, :method => "get") do %>
  <%= label_tag 'class', 'Class' %>
  <%= select_tag(:class ,options_for_select([[1, 1], [2, 2]],@class),
          :onchange => 'this.form.submit()') %>
          <% end %>





<%= form_for @academic, :url => { :action => "create" } do |f| %>
	   <%= f.error_messages %>
     <p>
    	<%= f.label :name %>
    	<%= f.select :student_id, options_from_collection_for_select(@students, "id", "name") %>
   </p>

 	<p>
      <%= f.label :term %> 
      <%= f.select :term, ['Quarterly', 'Half yearly' ,'Annualy'] %>
   </p>

   <p>
    <%= f.label :sub1 %>
    <%= f.select :sub1, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub2 %> 
    <%= f.select :sub2, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub3 %> 
    <%= f.select :sub3, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub4 %>
    <%= f.select :sub4, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :sub5 %> 
    <%= f.select :sub5, [50,60,70,80,90,100] %>
   </p>

   <p>
    <%= f.label :total %> 
    <%= f.text_field :total , :size => '1' %>
   </p>

  <p>
    <%= f.label :rank %> 
    <%= f.text_field :rank , :size => '1' %>
   </p>
  
  <p>
     <%= f.submit "Create"  %>
  </p>

 
   
 <% end %>

</div>


