
<div id="login">
<h1>Admin Login </h1>

<h2><%= flash[:notice]  %></h2>

<%= form_tag(authenticate_path, :method => "post") do %>

	<p>
		<%= label_tag(:q, "Usernames:") %>
  		<%= text_field_tag(:uname) %>
	</p>
    
    <p>
    	<%= label_tag(:q, "Password:") %>
  		<%= password_field_tag(:pword) %>
    </p>

    <p>
    	<%= submit_tag("Login") %>
    </p>
  
  
<% end %>
</div>